.Wrapper{
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at center, #b30000 5%, #330000 100%);
    overflow-y: scroll;
    
}
.Header{grid-area: Header;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.Footer{grid-area: Footer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
#Arrow{
    font-size: 0.5rem;
    margin-left: 2% ;
}
.TopNav > ul > li{
    display: inline-block;
}
.DropMenu > a{
    text-decoration: none;
    color: inherit;

}
.TopNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.9rem;
}
.DropMenu{
    position: relative;
}
.Content{
    display:none;
    position: absolute;
    transform: translateX(-20%);
    background-color: white;
    color: black;
    li{
        list-style: none;
        text-align: left;
    }
}
.Content li{
    position: relative;
}
.Content ul{
    padding: 0;
    margin: 0;
}
.DropMenu:hover .Content{
    display: block;
}
.Content li:hover{
    background-color: hsla(0, 1%, 52%, 0.8);
   
}
.Content li a{
    text-decoration: none;
    color: black;
}
.Content li a:hover{
    color:rgb(255, 251, 0);
}
.Logo{
    width: 50%;
    aspect-ratio: 3/1;
    background-image: url(alvalogo-removebg-preview.png);
    background-position: center;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    color: white;
}
.Select{
    display: inline-block;
    width: 100%;
   
}
.Choose{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    margin-bottom: 2% ;
    background-color: rgb(255, 251, 0);
    color: black;
    border-radius: 0.5rem;
}
#Jackets{
    position: relative;
}
#Jackets::before{
    position: absolute;
    content: "Shop Jackets";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(to right, rgb(255, 251, 0) , rgb(255, 102, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}
#Jackets:hover::before{
    transform: scaleX(1);
    opacity: 1;
}
#Shirts{
    position: relative;
}
#Shirts::before{
    position: absolute;
    content: "Shop Shirts";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(to right, rgb(255, 251, 0) , rgb(255, 102, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}
#Shirts:hover::before{
    transform: scaleX(1);
    opacity: 1;
}
#Pants{
    position: relative;
}
#Pants::before{
    position: absolute;
    content: "Shop Pants";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(to right, rgb(255, 251, 0) , rgb(255, 102, 0) );
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}
#Pants:hover::before{
    transform: scaleX(1);
    opacity: 1;
}
#Shoes{
    position: relative;
}
#Shoes::before{
    position: absolute;
    content: "Shop Shoes";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(to right, rgb(255, 251, 0) , rgb(255, 102, 0) );
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}
#Shoes:hover::before{
    transform: scaleX(1);
    opacity: 1;
}
#Accessories{
    position: relative;
}
#Accessories::before{
    position: absolute;
    content: "Shop Accessories";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(to right, rgb(255, 251, 0) , rgb(255, 102, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
    transition: all 0.4s ease-in-out;

}
#Accessories:hover::before{
    transform: scaleX(1);
    opacity: 1;
}
.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.DropMenu{
    z-index: 2;

}

